@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url(../../fonts/OpenSans/stylesheet.css);
@import url(../../fonts/Poppins/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.center {
  padding-left: calc((100% - 1440px) / 2);
  padding-right: calc((100% - 1440px) / 2);
}

@media (max-width: 768px) {
  .center {
    padding: 0 4.3%;
  }
}

@media (max-width: 425px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 425.9px) {
  .hidden-desktop {
    display: none !important;
  }
}

.z-index-2000 {
  z-index: 2000;
}

.card {
  width: 255px;
  height: 274px;
  background: #ffffff;
  box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
  border-radius: 10px;
  padding: 26px 28px;
}

.card-icon {
  width: 69px;
  height: 69px;
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #19191b;
  padding-top: 23px;
  padding-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 140%;
  color: #696871;
}

.modal_hidden {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7294117647);
  transform: scale(0);
  z-index: 9999;
  transition: 0.3s;
}
.modal_show {
  display: block;
  transition: all 0.3s 0.3s;
  transform: scale(1);
}
.modal-btn__close {
  position: absolute;
  top: 30px;
  right: 33px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  border-radius: 50%;
  color: #979797;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(45deg);
}
.modal-btn__close:hover {
  color: red;
  border-color: red;
}
.modal-content-castom {
  position: absolute;
  width: 920px;
  max-height: 96vh;
  left: calc(50% - 460px);
  background: #e5e5e5;
  border-radius: 10px;
  margin: 20px 0;
  padding: 35px 65px 65px;
  overflow: auto;
}
@media (max-width: 425px) {
  .modal-content-castom {
    width: 98%;
    left: 5px;
    right: 5px;
    padding: 35px 16px 65px;
  }
}
.modal-content__heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #2d2c31;
  margin-bottom: 14px;
  margin-top: 30px;
}
.modal-content__heading-h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #45434e;
}
.modal-content__text {
  font-size: 14px;
  line-height: 130%;
  color: #45434e;
  margin-bottom: 10px;
}
.modal-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
}
.modal-btn {
  background: #ffffff;
  border: 1px solid #0f253e;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: #0f253e;
  padding: 8px 20px;
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.7;
}
.modal-btn_disabled {
  pointer-events: none;
}
.modal-btn:hover {
  box-shadow: 2px 2px 10px 0px #9d9999;
}
.modal-btn:active {
  box-shadow: none;
}
.modal-btn_black {
  background: #0f253e;
  color: #ffffff;
}

.modal-manage__info {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(218, 218, 218, 0.2);
  border-radius: 4px;
  padding: 20px 30px 40px;
  margin-top: 15px;
  min-height: 130px;
  transition: 0.3s;
}
.modal-manage__info_open {
  min-height: 700px;
}
.modal-manage__info_open .modal-manage__info-text_short {
  display: none;
}
.modal-manage__info_open .modal-manage__info-text_full {
  max-height: 800px;
}
.modal-manage__info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.modal-manage__info-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2d2c31;
}
.modal-manage__info-input {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -20000px;
}
.modal-manage__info-input:checked + .modal-manage__info-check {
  background-color: #2673d3;
}
.modal-manage__info-input:checked + .modal-manage__info-check::after {
  left: 22px;
}
.modal-manage__info-check {
  position: relative;
  min-width: 50px;
  min-height: 30px;
  border-radius: 30px;
  background-color: #ccc;
  cursor: pointer;
}
.modal-manage__info-check::after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #fff;
  transition: 0.3s;
}
.modal-manage__info-text {
  font-size: 14px;
  line-height: 130%;
  color: #45434e;
  overflow: hidden;
}
.modal-manage__info-text_full {
  max-height: 0;
  transition: 0.2s;
}
.modal-manage__info-text > p {
  padding-top: 10px;
}
.modal-manage__info-btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #2673d3;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-cookie {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 478px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
  border-radius: 8px;
  padding: 20px;
  z-index: 100;
  transform: scale(0);
  transition: 0.3s;
}
@media (max-width: 425px) {
  .modal-cookie {
    width: 98%;
  }
}
.modal-cookie__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-cookie__text {
  font-size: 14px;
  line-height: 140%;
  color: #19191b;
}
.modal-cookie__buttons {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}
.modal-cookie__button-manage {
  background: #ffffff;
  border: 1px solid #0f253e;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: #0f253e;
  padding: 8px 20px;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
}
.modal-cookie__button-manage:hover {
  box-shadow: 2px 2px 10px 0px #9d9999;
}
.modal-cookie__button-manage:active {
  box-shadow: none;
}
.modal-cookie__button-accept {
  background: #0f253e;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;
}
.modal-cookie__button-accept:hover {
  box-shadow: 2px 2px 10px 0px #9d9999;
}
.modal-cookie__button-accept:active {
  box-shadow: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .wrapper {
    width: 720px;
    padding: 16px;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 425;
    padding: 16px;
  }
}
@media (max-width: 425px) {
  .wrapper {
    width: 100%;
    padding: 16px;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
}
@keyframes phoneAnimate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-320%);
  }
}
@keyframes translateIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}
@keyframes showFromLeft {
  0% {
    opacity: 0;
    right: 100%;
  }
  100% {
    opacity: 1;
    right: -50px;
  }
}
@keyframes showFromRight {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 45px;
  }
}
.top {
  min-height: 100vh;
  background: url(../img/bg-top.svg);
  background-position: top left;
  background-size: auto;
  background-repeat: no-repeat;
}
@media (min-width: 1441px) {
  .top {
    background-size: contain;
  }
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  padding: 20px 35px 0px;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .header-nav {
    order: 2;
  }
}
.header-nav .burger-open {
  display: none;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header-nav .burger-open {
    display: none;
    transform: scale(1);
  }
}
.header-nav #burger-checkbox:checked + .burger-open {
  transform: scale(0);
}
.header-nav #burger-checkbox:checked ~ .nav > .burger-close {
  display: flex;
}
@media (max-width: 768px) {
  .header-nav #burger-checkbox:checked ~ .nav {
    transform: translateX(0);
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 125px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 375px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8117647059);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    z-index: 9999;
    transform: translateX(-400px);
  }
}
.nav > .burger-close {
  display: none;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #19191b;
}
.nav-link:not(:first-child) {
  margin-left: 43px;
}
@media (max-width: 768px) {
  .nav-link {
    color: white;
    margin-left: 0 !important;
    font-size: 20px;
    line-height: 2;
  }
}

.auth-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.auth-box__link {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  transition: 0.2s;
  cursor: pointer;
  margin: 0 0 0 10px;
}
.auth-box__link:hover, .auth-box__link:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.auth-box__link:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
@media (max-width: 768px) {
  .auth-box__link {
    margin: 0 0 0 10px;
  }
}

.top-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 109px;
}
@media (max-width: 1024px) {
  .top-content {
    padding: 16px;
  }
}
@media (max-width: 425px) {
  .top-content {
    grid-template-columns: 1fr;
  }
}
.top-content__left {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.top-content__heading-h1 {
  font-weight: 600;
  font-size: 90px;
  line-height: 110%;
  color: #19191b;
}
@media (max-width: 768px) {
  .top-content__heading-h1 {
    font-size: 50px;
  }
}
.top-content__heading-h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #19191b;
  padding: 30px 0 48px;
}
@media (max-width: 768px) {
  .top-content__heading-h3 {
    font-size: 17px;
  }
}
.top-content__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
  color: #696871;
}
.top-content__text_small {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  padding: 10px 0 24px;
}
@media (max-width: 768px) {
  .top-content__text {
    font-size: 12px;
  }
  .top-content__text_small {
    font-size: 12px;
  }
}
.top-content__button {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  transition: 0.2s;
  cursor: pointer;
  padding: 19px 93px;
  align-self: flex-start;
}
.top-content__button:hover, .top-content__button:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.top-content__button:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
@media (max-width: 425px) {
  .top-content__button {
    align-self: center;
  }
}
.top-content__slide {
  display: flex;
  height: 758px;
}
@media (max-width: 425px) {
  .top-content__slide {
    height: 418px;
  }
}
.top-content__slide-bg {
  position: relative;
  left: 50px;
  width: 100%;
  max-height: 758px;
  display: flex;
  background: url(../img/top-phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 425px) {
  .top-content__slide-bg {
    left: 0;
    background-position: center;
    margin-top: 53px;
  }
}
.top-content__cards {
  position: absolute;
  top: 190px;
  right: calc((100% - 448px) / 2);
  width: 285px;
  height: 274px;
  padding: 0 15px;
  display: -webkit-box;
  overflow: hidden;
}
@media (max-width: 425px) {
  .top-content__cards {
    top: 85px;
    right: calc((100% - 135px) / 2);
    width: 135px;
    height: 135px;
  }
}
.top-content__cards::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
}
.top-content__cards:hover .top-content__card {
  animation-play-state: paused;
}
.top-content__card {
  transition: 0.3s;
  animation: phoneAnimate 12s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.top-content__card:not(:first-child) {
  margin-left: 15px;
}
@media (max-width: 425px) {
  .top-content__card {
    width: 135px;
    height: 135px;
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .top-content__card > .card-icon {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 425px) {
  .top-content__card > .card-title {
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
  }
}
@media (max-width: 425px) {
  .top-content__card > .card-text {
    font-size: 9px;
    line-height: 12px;
  }
}

.phone-card {
  position: absolute;
  display: flex;
  align-items: center;
  width: 305px;
}
@media (max-width: 425px) {
  .phone-card {
    width: 168px;
  }
}
.phone-card_top {
  top: 88px;
  left: 45px;
  background: #5454d4;
  box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
  border-radius: 8px;
  padding: 21px 18px;
  transition: 0.3s;
  animation: showFromRight 0.6s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}
@media (max-width: 425px) {
  .phone-card_top {
    padding: 12px;
    top: 40px;
    left: 16vw !important;
  }
}
.phone-card_bottom {
  right: -50px;
  bottom: 220px;
  background: #fedc5a;
  box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
  border-radius: 8px;
  padding: 20px 21px;
  z-index: 10;
  transition: 0.3s;
  animation: showFromLeft 0.6s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}
@media (max-width: 425px) {
  .phone-card_bottom {
    padding: 12px;
    right: 0;
    left: 35vw;
    bottom: 90px;
  }
}
.phone-card__icon {
  margin-right: 15px;
}
@media (max-width: 425px) {
  .phone-card__icon {
    height: 17px;
    width: 17px;
  }
}
.phone-card__text {
  font-size: 16px;
  line-height: 22px;
  color: #19191b;
}
@media (max-width: 425px) {
  .phone-card__text {
    font-size: 10px;
    line-height: normal;
  }
}
.phone-card__text_white {
  color: #ffffff;
}

.software {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .software {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.software-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 110%;
  color: #696871;
}

.softwae-hr {
  flex-grow: 1;
  display: block;
  height: 1px;
  background: #eae9f2;
  margin-left: 15px;
}

.software-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  overflow: auto;
  padding-bottom: 20px;
}
@media (max-width: 425px) {
  .software-icons {
    width: 1150px;
    overflow: hidden;
    animation: translateIcons 30s linear infinite alternate;
  }
}

.software-icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 425px) {
  .software-icon {
    margin-right: 40px;
  }
}

.projects {
  background-color: #f9f9fe;
  background: url(../img/bg-project.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 65vw;
  padding-top: 167px;
  padding-bottom: 187px;
}
.projects__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .projects__wrapper {
    flex-direction: column;
    height: 788px;
    background: url(../img/bg-project_small.svg);
    padding-top: 90px;
    padding-bottom: 80px;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  flex-grow: 1;
  margin-right: 96px;
}
@media (max-width: 425px) {
  .projects__list {
    width: 100vw;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    order: 2;
    margin-right: 0;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.projects__card {
  width: 100%;
}

.projects-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.projects-desc__btn {
  align-self: flex-start;
  border: 1px solid #eae9f2;
  border-radius: 5px;
  padding: 16px 70px;
  margin: 30px 0 60px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.projects-title {
  max-width: 507px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .projects-title {
    font-size: 32px;
    line-height: normal;
  }
}

.projects-text {
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.702469);
}
@media (max-width: 425px) {
  .projects-text {
    font-size: 14px;
    line-height: normal;
  }
}

.projects-head-title {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 964px;
}

.how-work {
  background: #f9f9fe;
  padding: 159px 0;
  margin-top: -8px;
}
@media (max-width: 425px) {
  .how-work {
    padding: 100px 16px;
  }
}
.how-work__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #2e2e2e;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .how-work__title {
    font-size: 32px;
  }
}
.how-work__text {
  max-width: 913px;
  font-size: 21px;
  line-height: 39px;
  text-align: center;
  color: #808080;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .how-work__text {
    font-size: 14px;
    line-height: 160%;
  }
}
.how-work__tabs {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0 0;
  margin: 0 auto;
  top: -50px;
  z-index: 100;
  overflow-y: auto;
}
@media (max-width: 425px) {
  .how-work__tabs {
    width: 100%;
    justify-content: start;
    padding: 40px 0 30px;
    top: -30px;
  }
}
.how-work__tab {
  background: #ffffff;
  border-top: 1px solid #d2d2f9;
  border-bottom: 1px solid #d2d2f9;
  border-left: 1px solid #d2d2f9;
  padding: 16px 47px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #808080;
  transition: 0.2s;
  flex: auto;
}
@media (max-width: 425px) {
  .how-work__tab {
    padding: 10px 40px;
  }
}
.how-work__tab_active {
  position: relative;
  background: #4c4ce6;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 0px 0px #ffffff;
}
.how-work__tab:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.how-work__tab:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-right: 1px solid #d2d2f9;
}
.how-work__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.how-work__cards-item {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.how-work__cards-item:not(:last-child) {
  margin-bottom: 60px;
}
.how-work__cards-item:first-child > .how-work__cards-img::after {
  top: 50%;
  bottom: -30px;
}
.how-work__cards-item:last-child > .how-work__cards-img::after {
  top: -30px;
  bottom: 50%;
}
.how-work__cards-item.active .how-work__cards-radio {
  transform: scale(1.5);
}
@media (max-width: 425px) {
  .how-work__cards-item {
    width: 100%;
  }
  .how-work__cards-item:not(:first-child) {
    margin-top: 40px;
  }
  .how-work__cards-item:first-child > .how-work__cards-img::after {
    top: 30%;
    bottom: -45px;
  }
  .how-work__cards-item:last-child > .how-work__cards-img::after {
    top: 30px;
    bottom: 100%;
  }
}
.how-work__cards-step-wrapper {
  display: flex;
  flex: auto;
}
@media (max-width: 425px) {
  .how-work__cards-step-wrapper {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
}
.how-work__cards-step {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
  flex: 0 0 60px;
  align-self: center;
}
@media (max-width: 425px) {
  .how-work__cards-step {
    font-size: 12px;
    margin-bottom: -20px;
    flex: 0 0 60px;
    width: 60px;
  }
}
.how-work__cards-img {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 48px;
  margin-right: 100px;
}
.how-work__cards-img::after {
  position: absolute;
  top: -30px;
  left: 50%;
  bottom: -30px;
  content: "";
  width: 1px;
  background-color: #d2d2f9;
  z-index: 1;
}
@media (max-width: 425px) {
  .how-work__cards-img {
    align-items: flex-start;
    margin-right: 10px;
    flex: auto;
  }
  .how-work__cards-img::after {
    top: 30px;
    bottom: -45px;
  }
}
.how-work__cards-radio {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 10;
  transition: 0.3s;
}
.how-work__card {
  flex: auto;
  display: grid;
  grid-template-columns: 1fr 200px;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 8px;
  padding: 29px 38px;
}
@media (max-width: 425px) {
  .how-work__card {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
  }
}
.how-work__card-content {
  flex: auto;
}
.how-work__card-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: #2e2e2e;
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .how-work__card-title {
    width: 100%;
    font-size: 22px;
    line-height: 120%;
  }
}
.how-work__card-text {
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}
@media (max-width: 425px) {
  .how-work__card-text {
    font-size: 14px;
  }
}
.how-work__card-rect {
  flex: 0 0 200px;
  width: 200px;
  height: 160px;
  background: #ebebeb;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 425px) {
  .how-work__card-rect {
    display: none;
  }
}

#step1, #step2, #step3, #step4, #step5, #step6, #step7 {
  padding-top: 90px;
  margin-top: -90px;
}
@media (max-width: 425px) {
  #step1, #step2, #step3, #step4, #step5, #step6, #step7 {
    padding-top: 60px;
    margin-top: -60px;
  }
}

.price {
  display: flex;
  background: #ffffff;
  background: url(../img/bg-price.svg);
  background-size: 780px;
  background-position: right center;
  background-repeat: no-repeat;
}
@media (max-width: 425px) {
  .price {
    background-size: 662px;
    background-position: 0 100px;
  }
}

.price-left {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-bottom: 60px;
}
.price-left__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #1d293f;
  margin-top: 250px;
  margin-bottom: 96px;
}
@media (max-width: 425px) {
  .price-left__title {
    font-size: 32px;
    margin-top: 702px;
    margin-bottom: 20px;
  }
}
.price-left__text {
  font-size: 21px;
  line-height: 150%;
  color: #7c8087;
}
@media (max-width: 425px) {
  .price-left__text {
    font-size: 14px;
  }
}
.price-left__advantages {
  display: flex;
  flex-direction: column;
  margin-top: 189px;
}
@media (max-width: 425px) {
  .price-left__advantages {
    margin-top: 30px;
  }
}
.price-left__advantages-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.price-left__advantages-icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.price-left__advantages-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1d293f;
}
@media (max-width: 425px) {
  .price-left__advantages-desc {
    font-size: 18px;
  }
}

.price-left__advantages {
  overflow: hidden;
  padding: 0 10px;
}

.price-left__advantages-slider {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .price-left__advantages-slider {
    width: 1000px;
    animation: translateAdvantages 5s linear infinite alternate;
  }
}
@media (max-width: 425px) {
  .price-left__advantages {
    margin-top: 30px;
  }
}
.benefits {
  padding-top: 175px;
  padding-bottom: 122px;
  background: url(../img/bg-benefits.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.benefits-hr {
  width: 100%;
  max-width: 1120px;
  height: 1px;
  background: #e5eaf4;
  margin: 100px auto;
}

.benefits-title {
  max-width: 1184px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #fbfdff;
  margin: 0 auto 30px;
}
@media (max-width: 425px) {
  .benefits-title {
    font-size: 32px;
    line-height: 120%;
    text-align: left;
    margin: 0px auto 20px;
    padding: 0 16px;
  }
}

.benefits-desc {
  max-width: 700px;
  font-size: 20px;
  color: #FBFBFB;
  line-height: 130%;
  margin: 0 auto 60px;
  padding: 16px;
  text-align: center;
}

.benefits-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  row-gap: 80px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 425px) {
  .benefits-content {
    grid-template-columns: 1fr;
  }
}

.benefit {
  display: flex;
  justify-content: flex-start;
}

.benefit-icon {
  width: 48px;
  height: 48px;
  margin-right: 24px;
}

.benefit-content {
  flex: auto;
}
.benefit-content__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #fbfdff;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  .benefit-content__title {
    font-size: 18px;
  }
}
.benefit-content__text {
  font-size: 16px;
  line-height: 32px;
  color: #fbfbfb;
}
@media (max-width: 425px) {
  .benefit-content__text {
    font-size: 14px;
    line-height: 160%;
  }
}

.footer {
  min-height: 1164px;
  background: url(../img/bg-footer.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
}
@media (max-width: 425px) {
  .footer {
    padding: 0 16px;
    min-height: auto;
  }
}
@media (max-width: 425px) {
  .footer-logo {
    grid-column-end: 3;
    grid-column-start: 1;
  }
}

.footer-title {
  max-width: 712px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  margin: 300px 0 100px;
}
@media (max-width: 425px) {
  .footer-title {
    font-size: 32px;
    line-height: 120%;
    margin: 120px 0 50px;
  }
}

.footer-desc {
  line-height: 150%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #FBFBFB;
  margin: 0 auto 60px;
  max-width: 750px;
  text-align: center;
}

.footer-accept {
  margin-top: 40px;
}
.footer-accept__labal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-accept__input {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -2000px;
}
.footer-accept__input:checked + .footer-accept__check {
  background: url(../img/checkbox-checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-accept__input:focus + .footer-accept__check {
  outline: 1px solid #007bff;
}
.footer-accept__check {
  width: 31px;
  height: 31px;
  background: #c4c4c4;
  border-radius: 3px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.footer-accept__check:focus {
  outline: 1px solid red;
}
.footer-accept__link {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #f5f7ff;
}

.footer-button {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  transition: 0.2s;
  cursor: pointer;
  width: 480px;
  padding: 19px 140px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.footer-button:hover, .footer-button:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.footer-button:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
@media (max-width: 425px) {
  .footer-button {
    width: 343px;
    padding: 14px 25px;
  }
}
@media (max-width: 320px) {
  .footer-button {
    width: 288px;
    padding: 14px 25px;
  }
}
.footer-button:hover {
  box-shadow: 2px 2px 2px 0px rgba(246, 249, 252, 0.4901960784);
}
.footer-button:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}

.footer-nav {
  margin-top: 150px;
}
.footer-nav__grid {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 425px) {
  .footer-nav__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 80px -4.4% 0;
  }
}
.footer-nav__menu {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
}
.footer-nav__menu a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
}
.footer-nav__menu a:hover {
  color: white;
  text-decoration: underline;
}
.footer-nav__menu-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-nav__menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-icons {
  margin: 60px 0;
  display: flex;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  display: block;
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
}
.footer-icon__img {
  display: block;
  width: 16px;
  height: 16px;
}
.footer-icon:not(:first-child) {
  margin-left: 18px;
}
.footer-icon:hover {
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.footer-hr {
  background: #2f2f31;
  height: 1px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.footer-copy {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: start;
}

.sing-in {
  background-color: #f9f9fe;
  background: url(../img/bg-project.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100vh;
}
@media (max-width: 425px) {
  .sing-in {
    background: url(../img/bg-project-singin.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }
}
.sing-in__logo {
  width: 127px;
  height: 37px;
}
.sing-in__form {
  width: 500px;
}
.sing-in__google, .sing-in__facebook {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7ff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #19191b;
  padding: 15px 30px;
  margin-bottom: 15px;
  border: none;
  outline: none;
}
.sing-in__google:hover, .sing-in__google:focus, .sing-in__facebook:hover, .sing-in__facebook:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.sing-in__google:active, .sing-in__facebook:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.sing-in__google > img, .sing-in__facebook > img {
  margin-right: 20px;
}

.main {
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 16px;
}

.form-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 21px;
}

.email-label, .name-label, .pass-label, .repeat-label {
  position: relative;
  width: 100%;
  display: flex;
}

.form-input__email, .form-input__pass, .form-input__name, .form-input__repeat, .form-input__phone {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 19px 30px;
  margin-bottom: 10px;
  border: none;
}

.sing-up__input {
  margin-bottom: 25px;
}

.error-message {
  position: absolute;
  left: 0;
  top: -18px;
  display: none;
  font-size: 12px;
  color: red;
}
.error-message_active {
  display: block;
}

.forgot-email,
.forgot-pass {
  align-self: flex-end;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #f5f7ff;
  text-decoration: none;
  margin-bottom: 20px;
}
.forgot-email:hover,
.forgot-pass:hover {
  color: #f0544c;
}

.accept {
  display: flex;
  flex-direction: column;
}
.accept__input {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -20000px;
}
.accept__input:checked + .accept__label .accept__check {
  background: url(../img/checkbox-checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}
.accept__input:checked + .accept__label + .form-button__submit {
  pointer-events: initial;
}
.accept__input:focus + .accept__label .accept__check {
  outline: 1px solid #007bff;
}
.accept__label {
  display: flex;
  align-items: center;
}
.accept__check {
  min-width: 30px;
  min-height: 30px;
  background: #c4c4c4;
  border-radius: 3px;
  margin-right: 20px;
  border: 1px solid transparent;
}
.accept__check:focus {
  outline: 1px solid red;
}
.accept__link {
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #f5f7ff;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-button__submit {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 19px 30px;
  margin-top: 30px;
  border: none;
  outline: none;
}
.form-button__submit:hover, .form-button__submit:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.form-button__submit:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}

.form-or {
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

#errorAlert {
  position: absolute;
  left: 0;
  right: 0;
  top: 2%;
  z-index: 2000;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bg-page {
  background-color: #f9f9fe;
  background: url(../img/bg-project.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100vh;
}
@media (max-width: 425px) {
  .bg-page {
    background: url(../img/bg-project-singin.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.btn-login {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  transition: 0.2s;
  cursor: pointer;
  background: #f0544c !important;
  max-width: 343px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff !important;
  padding: 19px 70px;
  border: none;
  outline: none;
}
.btn-login:hover, .btn-login:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}
.btn-login:active {
  box-shadow: inset 2px 2px 2px 0px rgba(15, 37, 62, 0.3098039216);
}

.advantages {
  overflow-x: hidden;
  overflow-y: visible;
  margin: -120px 0;
  padding: 120px 0;
}
.advantages__wrapper {
  width: 100%;
}
.advantages__list {
  display: grid;
  box-sizing: content-box;
  width: 100%;
  margin: -120px;
  padding: 120px;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  overflow-x: auto;
  list-style: none;
}
.advantages__item {
  padding: 20px;
  box-shadow: 0 12px 84px 0 rgba(29, 41, 63, 0.12);
  border-radius: 10px;
  min-width: 300px;
}
.advantages__item-icon {
  --size: 70px;
  width: var(--size);
  height: var(--size);
  margin-bottom: 10px;
}
.advantages__item-title {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.advantages__item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #696871;
  line-height: 130%;
}

:root {
  --c-black: #19191B;
  --c-dark: #2E2E2E;
  --c-gray: #808080;
  --c-gray-light: #696871;
  --c-white: #FFFFFF;
  --c-white-dark: #F9F9FE;
  --c-light: #FBFBFB;
  --c-red: #F0544C;
  --c-yellow: #FEDC5A;
  --c-blue-dark: #0F253E;
  --c-blue: #5454D4;
  --c-purple-light: #D2D2F9;
  --c-light-blue: #37DEF5;
  --c-border: #EAE9F2;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --header-height: 76px;
  --header-margin-bottom: 30px;
  font-family: var(--font-family-primary);
}
@media (max-width: 767.98px) {
  :root {
    --header-margin-bottom: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
  background: url(../img/decore/gradient-purple-ccircle.svg);
  background-position: top left;
  background-size: auto;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100vw;
}

ul li,
ol li {
  margin-left: 20px;
}
ul li::marker,
ol li::marker {
  color: var(--c-red);
}

p,
ul li,
ol li {
  font-size: 16px;
}
@media (max-width: 575.98px) {
  p,
  ul li,
  ol li {
    font-size: 14px;
  }
}

.modal--success .modal__container {
  max-width: 600px !important;
}
.modal--success .modal__container .modal__title {
  color: green;
}
.modal--success .modal__container main p {
  color: var(--c-gray-light);
}
.modal--success .modal__container main p ~ p {
  margin-top: 8px;
}
.modal--large .modal__container {
  --gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: calc(100vw - var(--gap) * 2);
  max-width: unset !important;
  height: auto;
  max-height: unset !important;
}
.modal--large .modal__container main {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.modal--large .modal__container > * {
  width: 100%;
}
@media (min-width: 768px) {
  .modal--large .modal__container {
    padding: 24px;
    width: 660px !important;
    height: 660px !important;
  }
}
@media (min-width: 992px) {
  .modal--large .modal__container {
    padding: 32px;
    width: 700px !important;
    height: 700px !important;
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--c-white);
  padding: 20px;
  max-width: 50%;
  max-height: 75%;
  border-radius: 8px;
  box-sizing: border-box;
  word-break: break-all;
  border: 1px solid var(--c-border);
}
.modal__container > * {
  margin-bottom: 32px;
}
.modal__container > *:last-child {
  margin-bottom: 0;
}
.modal__header {
  display: flex;
  justify-content: space-between;
}
.modal__header--center {
  width: 100% !important;
  display: flex;
  align-items: stretch;
  justify-content: unset;
  flex-direction: column;
  text-align: center;
}
.modal__header--center > * {
  margin-right: 0;
}
.modal__header > * {
  margin-right: 12px;
}
.modal__header > *:last-child {
  margin-right: 0;
}
.modal__xmark {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.modal__xmark::before {
  content: "✕";
}
.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--c-blue);
  box-sizing: border-box;
}
.modal__title--solo {
  margin-right: 0;
  font-size: 32px;
  line-height: 1.3;
  color: var(--c-black);
}
.modal__date {
  color: var(--c-gray);
  font-size: 14px;
}
.modal__title, .modal__date {
  line-height: 24px;
}
.modal__content {
  padding: 20px;
  padding-bottom: 48px;
  line-height: 1.5;
  color: var(--c-dark);
  overflow-y: scroll;
  border: 1px solid var(--c-border);
  border-radius: 8px;
}
.modal__content p + h1, .modal__content p + h2, .modal__content p + h3, .modal__content p + h4, .modal__content p + h5, .modal__content p + h6, .modal__content ul + h1, .modal__content ul + h2, .modal__content ul + h3, .modal__content ul + h4, .modal__content ul + h5, .modal__content ul + h6, .modal__content ol + h1, .modal__content ol + h2, .modal__content ol + h3, .modal__content ol + h4, .modal__content ol + h5, .modal__content ol + h6 {
  margin-top: 32px;
}
@media (max-width: 767.98px) {
  .modal__content p + h1, .modal__content p + h2, .modal__content p + h3, .modal__content p + h4, .modal__content p + h5, .modal__content p + h6, .modal__content ul + h1, .modal__content ul + h2, .modal__content ul + h3, .modal__content ul + h4, .modal__content ul + h5, .modal__content ul + h6, .modal__content ol + h1, .modal__content ol + h2, .modal__content ol + h3, .modal__content ol + h4, .modal__content ol + h5, .modal__content ol + h6 {
    margin-top: 24px;
  }
}
.modal__input-group {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: auto;
}
.modal__input {
  display: block;
  width: 100%;
  padding: 12px;
}
.modal__input--message {
  flex: auto;
  height: 300px;
}
@media (min-width: 768px) {
  .modal__input--message {
    height: auto;
  }
}
@media (min-width: 576px) {
  .modal__input {
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .modal__input {
    padding: 16px;
  }
}
@media (min-width: 992px) {
  .modal__input {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .modal__input {
    padding: 24px;
  }
}
.modal__message-textarea {
  height: 400px;
}
@media (min-width: 768px) {
  .modal__message-textarea {
    height: 355px;
  }
}
.modal__ctl-btn {
  display: block;
  margin: 0 auto;
  width: min(220px, 100%);
  border-radius: 16px;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .modal__ctl-btn {
    padding: 12px;
  }
}
@media (min-width: 768px) {
  .modal__ctl-btn {
    margin-top: auto;
    font-size: 16px;
  }
}
.modal__margin-top, .modal__margin-bottom {
  --margin-y: 24px;
}
@media (min-width: 768px) {
  .modal__margin-top, .modal__margin-bottom {
    --margin-y: 28px;
  }
}
@media (min-width: 992px) {
  .modal__margin-top, .modal__margin-bottom {
    --margin-y: 36px;
  }
}
@media (min-width: 1200px) {
  .modal__margin-top, .modal__margin-bottom {
    --margin-y: 44px;
  }
}
.modal__margin-bottom {
  margin-bottom: var(--margin-y);
}
.modal__margin-top {
  margin-top: var(--margin-y);
}
.modal__margin-top-auto {
  margin-top: auto;
}
.modal__footer {
  display: flex;
}
.modal__btn {
  margin-right: 12px;
}
.modal__btn:first-child {
  margin-left: auto;
}
.modal__btn:last-child {
  margin-right: 0;
}
@media (max-width: 1199.98px) {
  .modal__container {
    max-width: 75%;
    max-height: 75%;
  }
}
@media (max-width: 991.98px) {
  .modal__container {
    max-width: 90%;
    max-height: 80%;
    padding: 20px;
  }
  .modal__container > * {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__container {
    padding: 16px;
  }
  .modal__container > * {
    margin-bottom: 20px;
  }
  .modal__content {
    padding: 16px;
  }
}
@media (max-width: 575.98px) {
  .modal__header {
    flex-direction: column;
    width: calc(100% - 32px);
  }
  .modal__container > * {
    margin-bottom: 16px;
  }
}
@media (min-width: 2048px) {
  .modal__title {
    font-size: 28px;
  }
  .modal__date {
    font-size: 24px;
  }
  .modal__content * {
    font-size: 20px;
  }
  .modal__content h1 {
    font-size: 42px;
  }
  .modal__content h2 {
    font-size: 38px;
  }
  .modal__content h4 {
    font-size: 34px;
  }
  .modal__content h5 {
    font-size: 30px;
  }
  .modal__btn {
    font-size: 20px;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.modal {
  display: none;
}
.modal--active {
  display: block !important;
}
.modal[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal__container, .modal__overlay {
  will-change: transform;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 1.125em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--c-red);
  font-family: var(--font-family-secondary);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  text-align: center;
  color: var(--c-white);
  border: 1px solid var(--c-red);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background, color, border-color;
  will-change: background, color, border-color;
  touch-action: none;
}
.btn:hover, .btn:focus-visible {
  background: transparent;
  color: var(--c-red);
  border-color: var(--c-red);
}
.btn--sm {
  padding: 0.5em 1.5em;
  font-size: 14px;
}
.btn--outline--light {
  background-color: transparent;
  color: var(--c-white);
  border-color: var(--c-border);
}
.btn--outline--light:hover, .btn--outline--light:focus-visible {
  background-color: var(--c-red);
  color: var(--c-white);
  border-color: var(--c-red);
}
.btn--blue-dark {
  border-color: var(--c-blue-dark);
  background-color: transparent;
  color: var(--c-blue-dark);
}
.btn--blue-dark:hover, .btn--blue-dark:focus-visible {
  border-color: var(--c-blue-dark);
  background-color: var(--c-blue-dark);
  color: var(--c-white);
}
.btn--outline--blue-dark {
  border-color: var(--c-blue-dark);
  background-color: var(--c-blue-dark);
  color: var(--c-white);
}
.btn--outline--blue-dark:hover, .btn--outline--blue-dark:focus-visible {
  border-color: var(--c-blue-dark);
  background-color: transparent;
  color: var(--c-blue-dark);
}

.iti--liquid {
  width: 100%;
}
.iti--only-numbers .iti__country-name {
  display: none;
}
.iti--only-numbers .iti__flag-box {
  display: none;
}
.iti__country {
  margin-left: 0;
  padding-left: 0;
}
.iti__country-list {
  margin-left: 0 !important;
  padding: 5px 0px !important;
  margin-right: -20px;
  width: 458px;
}
@media screen and (max-width: 1243px) {
  .iti__country-list {
    width: 455px;
  }
}
@media screen and (max-width: 460px) {
  .iti__country-list {
    width: calc(100vw - 40px);
  }
}
@media screen and (max-width: 400px) {
  .iti__country-list {
    width: calc(100vw - 32px);
  }
}
.iti__divider {
  margin-left: 0;
}
.iti__country-list {
  overflow-x: hidden;
}
.iti__country-list {
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */