.extra-feature {
	display: flex;
	margin-left: 0;
	padding-left: 0;

	&__icon {
		margin-right: 24px;
		flex: 0 0 var(--_size);
	}

	&__content {
	}

	&__title {
		margin-bottom: 10px;
		font-size: 22px;
		line-height: 120%;
		font-family: var(--font-family-primary);
		color: var(--c-light);
	}

	&__text {
		font-size: 14px;
		line-height: 160%;
		font-family: var(--font-family-secondary);
		color: var(--c-light);
	}

	@include media-max(lg) {
		&__title {
			font-size: 20px;
		}
	}

	@include media-max(sm) {
		&__title {
			font-size: 18px;
		}
	}

	@include media-min(min-2k) {
	
		&__title {
			font-size: 22px;
		}

		&__text {
			font-size: 20px;
		}

		&__icon {
			--_size: 64px;
		}
	}
}