.hidden-scroll-container {
	margin: -20px -16px !important;
	padding: 20px 16px !important;
	overflow: auto !important;
	overflow: overlay !important;
	scrollbar-width: none !important;

	&::-webkit-scrollbar {
		display: none !important;
	}
}