.icon-spec {
	--_size: 48px;
	display: inline-block;
	width: var(--_size);
	height: var(--_size);
	background-image: var(--_img);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	&--home {
		--_img: url(../img/icons/spec-home.svg);
	}
	&--budget {
		--_img: url(../img/icons/spec-budget.svg);
	}
	&--access {
		--_img: url(../img/icons/spec-access.svg);
	}
	&--affordable {
		--_img: url(../img/icons/spec-affordable.svg);
	}
	&--quality {
		--_img: url(../img/icons/spec-quality.svg);
	}
	&--successful {
		--_img: url(../img/icons/spec-successful.svg);
	}
	&--check {
		--_img: url(../img/icons/spec-check.svg);
	}
	&--bug {
		--_img: url(../img/icons/spec-bug.svg);
	}
	&--calc {
		--_img: url(../img/icons/spec-calc.svg);
	}
	&--value {
		--_img: url(../img/icons/spec-value.svg);
	}
	&--people {
		--_img: url(../img/icons/spec-people.svg);
	}
	&--fix {
		--_img: url(../img/icons/spec-fix.svg);
	}
}