.popup {
	position: absolute;
	box-sizing: border-box;
	padding: 20px 40px 20px 20px;
	box-shadow: 0 32px 34px 0 rgba(28, 27, 32, 0.2);
	max-width: 480px;
	background-color: var(--c-white);
	border-radius: 8px;
	z-index: 1000;
	pointer-events: none;
	transform: translateY(80px);
	opacity: 0;
	transition-duration: 0.4s;
	transition-property: transform, opacity;
	will-change: transform, opacity;

	&--fixed {
		position: fixed;
		right: 32px;
		bottom: 32px;
	}

	&--active {
		user-select: none;
		pointer-events: none;
		transform: translateY(0);
		opacity: 1;
		pointer-events: all;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 2px;
		margin: -2px;
		height: 1em;
		width: 1em;
		background-image: url(../img/ui/close.svg);
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center;
		background-size: 1em;
		font-size: 16px;
		border: none;
		font-size: 0;
		cursor: pointer;
	}

	&__text {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 140%;
		color: var(--c-black);
	}

	&__text-link {
		font-weight: 600;
		color: var(--c-black);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__action-list {
		display: flex;
	}

	&__action {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	@include media-max(lg) {
		max-width: 420px;

		&--fixed {
			position: fixed;
			right: 16px;
			bottom: 16px;
		}
	}

	@include media-max(sm) {
		width: calc(100% - 32px);

		&__action {
			flex: auto;
			padding: 6px 12px;
		}
	}

	@include media-max(337px) {
		&__action-list {
			flex-direction: column;
		}

		&__action {
			margin-right: 0;
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include media-min(min-2k) {
		max-width: 600px;
		
		&__action,
		&__text {
			font-size: 20px;
		}
	}
}