.price {

	&__decore {
		--_size: 780px;
		position: absolute;
		top: 40px;
		right: 20px;
		width: var(--_size);
		height: var(--_size);
		border-radius: 50%;
		background-image: url(../img/decore/app.svg);
		background-repeat: no-repeat;
		z-index: -1;
	}

	&__info {
		display: flex;
		flex-direction: column;
		width: calc(50% - 30px);
		margin-bottom: 60px;

		& > * {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 30px;
		font-size: 60px;
		font-family: var(--font-family-primary);
		font-weight: 600;
		line-height: 120%;
		color: var(--c-black);
	}

	&__text {
		font-size: 21px;
		line-height: 150%;
		color: var(--c-gray-light);
		margin-bottom: 20px;
	}

	&__card-list {
		display: inline-grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		list-style: none;
		font-size: 10px;
	}

	&__card {
		box-shadow: 0 6px 16px 0 hsla(219, 37%, 18%, 0.06);
	}

	@include media-max(xl) {
		&__decore {
			right: -60px;
		}
	}

	@include media-max(lg) {
		&__decore {
			--_size: 350px;
			top: 150px;
			right: 20px;
		}

		&__title {
			font-size: 40px;
			margin-bottom: 50px;
		}

		&__text {
			font-size: 16px;
			margin-bottom: 15px;
		}

		&__card-list {

		}

		&__card {
			width: 255px;
		}
	}

	@include media-max(md) {
		&__decore {
			--_size: 520px;
			position: relative;
			top: 0;
			right: 0;
			margin: 0 auto;
			transform: translateX(100px) scale(1.2);
		}

		&__info {
			width: auto;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 20px;
		}

		&__text {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	@include media-max(sm) {
		&__decore {
			--_size: 240px;
			margin: 20px auto;
			transform: translate(0px, 30px) scale(1.5);
		}

		&__title {
			order: -1;
		}
	}

	@include media-min(min-2k) {
	
		&__decore {
			--_size: 900px;
			right: 70px;
			// position: absolute;
			// top: 40px;
			// right: 20px;
			// width: var(--_size);
			// height: var(--_size);
			// border-radius: 50%;
			// background-image: url(../img/decore/app.svg);
			// background-repeat: no-repeat;
			// z-index: -1;
		}
	}
	
}