.using-softwares {

	&__line {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}

	&__title {
		margin-right: 10px;
		font-family: var(--font-family-secondary);
		font-size: 16px;
		line-height: 1;
		color: var(--c-gray-light);
		font-weight: normal;
	}

	&__hr {
		flex: auto;
		height: 1px;
		background-color: var(--c-border);
	}

	&__list {
		display: flex;
		justify-content: space-between;
		list-style: none;

		@include media-max(md) {
			animation: using-softwares-icons 15s linear infinite alternate;
		}

		@include media-max(sm) {
			animation: using-softwares-icons 10s linear infinite alternate;
		}
	}

	&__item {
		--_size: 32px;
		flex: 0 0 var(--_size);
		height: var(--_size);
		padding-left: 0;
		margin-left: 0;
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}
	}

	@include media-min(min-2k) {
	
		&__title {
			font-size: 20px;
		}
	}
}

@keyframes using-softwares-icons {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-70%);
	}
}